/**** start default theme ****/
.option-box .color-option,
.testimonials .carousel-indicators li.active{
    border: 3px solid #3fd60e;
}
.gear-check,.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,.dropdown-menu > li > a:hover,
.carousel-indicators .active,.dropdown-menu .divider{
    background-color: #3fd60e;
}
.navbar-inverse .navbar-brand span,
.about h1 span,.about h3 span,.footer h3,
.footer .copyright span{
    color:#3fd60e;
}
.dropdown-menu{
    border-top: 3px solid #3fd60e;
}
/**** end default theme ****/